

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: 'Poppins', sans-serif;
}

#root {
  position: relative;

  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(128, 128, 128);
  border-radius: px;
}

/* Handle */


/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #0012b3;
}

.fundo {
  padding: 0.5rem 0.5rem;
  background-color: rgb(87, 182, 174);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  height: 3.5rem;
  margin-bottom: 0.1rem;

}

body {
  background-color: #E0E0DD;
  overflow: auto;
  overflow-wrap: break-word;

}

.mensagemm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;

}

.mesagemON {

  overflow-y: auto;
  height: 67vh;
  padding: 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-wrap: break-word;

}

.englobaP {

  width: 100%;
  display: flex;
  padding: 0rem 0.5rem;
  margin: 0;
  overflow-wrap: break-word;
}

.mesagemOF {

  overflow-y: scroll;
  height: 66vh;
  padding: 1rem;
  width: 88%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;

}

.container {

  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  display: flex;
  flex-direction: column;
  margin-top: -4.4rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 9rem;
  background-color: #003630;
  color: white;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: justify;
  width: 100%;


}

main {
  padding: 0rem;
  display: flex;
  flex-direction: row;
  height: 21vh;
  align-items: top;
  margin-top: 1rem;
  background-attachment: #efe2e2;

}

form {
  display: flex;
  justify-content: center;

  height: 4rem;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  margin: 0rem;
  padding: 1rem;

}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 1px 5px gray;
  resize: none;
  height: 3.8rem;
  overflow: hidden;
  background-color: #ffffffc2;
}

textarea:focus {
  outline: rgb(44, 236, 236) solid 1px;

}

button[type="submit"] {
  padding: 1rem 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  height: 3.5rem;
}

button[type="submit"]:hover {
  background-color: darkgreen;
}

.message {
  background-color: #e3f3d8;
  border-radius: 10px;
  padding: 0.5rem;
  padding-bottom: 1px;
  margin-bottom: 0.4rem;
  box-shadow: 1px 1px 5px gray;
  text-align: left;
  border-bottom: #075e54 solid 2px;
  font-weight: 700;
  max-width: 90%;

}

.sent {
  /*float: right*/
  background-color: #D9FDD3;
  font-weight: 300;
}


#whatsapp-message {
  font-family: sans-serif;
  font-size: 14px;
  color: #3e4245;
  background-color: #FDF6C0;
  padding: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  margin-left: -20px;
  margin-right: 1rem;
  width: 100%;


}

span {
  font-weight: 100;
}

#whatsapp-message i {
  font-size: 20px;
  margin-right: 10px;
}

.status {
  padding: 0;
  margin: 0;
  display: flex;
  color: rgb(31, 199, 221);
  font-weight: 700;
  gap: -10;


}

.hora {
  color: rgb(51, 50, 50);
  font-size: 0.9rem;
}

.imageUser {
  border-radius: 52px;
  height: 2rem;
  width: 2rem;

}

@media (max-width: 767px) {
  #whatsapp-message {
    font-size: 16px;
  }
}


@media (max-width: 338px) {
  header {
    gap: 6rem
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 0;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .container {
    max-width: 100%;
    margin-top: -3rem;
    margin-top: 0;
    box-shadow: none;
  }

  .mesagemON {

    height: 70vh;
  }

  .mesagemOF {
    min-height: 66vh;
    height: 70vh;
  }

  header h1 {
    font-size: 1.5rem;
  }

  textarea {
    font-size: 1.2rem;
    height: 3.5rem;
  }

  button[type="submit"] {
    font-size: 1.2rem;
  }

  form {
    margin: 0rem;
    padding: 0.2rem;

  }

  main {
    padding: 0.5rem;
    margin: 0;
    height: 13vh;

  }

  header {
    border-radius: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .mesagemOF {
    height: 72vh;
  }

  main {
    margin-top: 2.5rem;
  }

  .mesagemON {
    height: 72vh;
  }
}
